* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

h1 {
    font-size: 30px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

/*Tiêu đề trang admin*/
.admin-header {
    font-size: 24px;
    color: #0074D9;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logout-button {
    background-color: #D32F2F;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: #B71C1C;
    cursor: pointer;
}

.logout-button img {
    height: 20px;
    margin-left: 10px;
}

.admin-content {
    display: flex;
}

/*Phần slidebar bên trái*/
.sidebar {
    /*width: 20%;*/
    height: 100vh;
    background-color: #f2f2f2;
    color: #333;
    font-size: 18px;
    border: 1px solid #ccc;
    /*padding: 30px 0 0 25px;*/
    margin-right: 20px;
    transition: all 0.3s ease;
}
.sidebar:hover {
    transform: translateX(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.menu__wrapper > ul > li > a {
    font-weight: bold;
}

.menu__wrapper ul li {
    margin: 6px 0;
}

.menu__wrapper ul ul {
    padding-left: 20px;
}
.submenu {
    display: none;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}
.active{
    display: block;
}

/*css bar*/

.sidebar .container__bar {
    display: inline-block;
    cursor: pointer;
    transform: translateX(calc(100% - 30px));
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
.menu__wrapper {
    display: none;
    padding: 30px 30px 0px 20px;
}
.menu__wrapper.change {
    display: block;
}
/*Phần nội dung bên phải*/
.admin-content-right {
    width: 80%;
    padding: 30px 0 0 0px;
}

.admin-content-right-cartegory_add input, textarea {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 15px;
    display: block;
}

.admin-content-right-cartegory_add label {
    align-items: center;
    height: auto;
    display: block;
    margin: 15px 0 0 12px;
}

.admin-content-right-cartegory_add textarea {
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
}

.admin-content-right-cartegory_add .btn_submit {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    padding: 0px;
}

.admin-content-right-cartegory_add .btn_submit:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    transition: 0.3s;
}
/*-----------------Css Table------------*/
table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table td, th {
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    transition: all 0.1s ease-in;
}

table td:hover {
    transform: translateX(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/*------------------productadd.html----------------*/
.admin-content-right-product_add h1 {
    margin-bottom: 20px;
}

.admin-content-right-product_add input, select {
    height: 30px;
    width: 200px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
}

.admin-content-right-product_add textarea {
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
}

.admin-content-right-product_add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}

.admin-content-right-product_add .btn_submit {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    padding: 0px;
}

.admin-content-right-product_add .btn_submit:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    transition: 0.3s;
}

#cke_editor1 {
    margin-bottom: 12px;
}

/* CSS cho phân trang */
/* Lớp chứa phân trang */
.pager {
    float: right;
    margin-top: 25px;
    font-size: 0.7rem;
}

/* Phần tử phân trang */
.pager a {
    color: #337ab7;
    text-decoration: none;
    border: 1px solid #337ab7;
    padding: 5px 10px;
    margin-right: 5px;
}

/* Phần tử phân trang hiện tại */
.pager .current {
    background-color: #333;
    color: #fff;
}

/* Phần tử phân trang không hoạt động */
.pager .aspNetDisabled {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ccc;
}

.pager a[href]:hover {
    background-color: #337ab7;
    color: #fff;
}

#ContentPlaceHolder1_DataPager1 span {
    color: #ccc;
    border-color: #ccc;
    border: 1px solid #ccc;
    border-width: 1px;
    cursor: not-allowed;
    padding: 5px 10px;
    margin-right: 5px;
}

/*Css cho các nút sửa và xóa*/
.admin-edit-button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

.admin-edit-button:hover {
    background-color: #0056a4;
}

.admin-delete-button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

.admin-delete-button:hover {
    background-color: #d93025;
}


/*Css cho form sửa category*/
.edit-category-form {

}

.edit-category-form h1 {
    margin-bottom: 25px;
}

.form_wrapper input, textarea {
    display: block;
}

.form_wrapper input {
    height: 30px;
    width: 200px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
}

.form_wrapper textarea {
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
}

.form_wrapper .btn_submit {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    padding: 0px;
}

.form_wrapper button:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    transition: 0.3s;
}


/*Animation cho ẩn hiện form*/
.edit-category-form,
.list-category-form {
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

