* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

.admin-content {
    padding-top: 50px;
    display: flex;
}

.admin-content-left {
    background-color: #dddddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}

.admin-content-left > ul > li > a {
    font-weight: bold;
}

.admin-content-left ul li {
    margin: 6px 0;
}

.admin-content-left ul ul {
    padding-left: 20px;
}

.admin-content-right {
    width: 80%;
    padding: 30px 0 0 12px;
}

.admin-content-right-cartegory_add input, textarea {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 15px;
    display: block;
}

.admin-content-right-cartegory_add label {
    align-items: center;
    height: auto;
    display: block;
    margin: 15px 0 0 12px;
}

.admin-content-right-cartegory_add textarea {
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
}

.admin-content-right-cartegory_add .btn_submit {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}

.admin-content-right-cartegory_add button:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    transition: 0.3s;
}
/*-----------------categorylist.html------------*/
.admin-content-right-cartegory_list table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}

    .admin-content-right-cartegory_list table tr th, td {
        border: 1px solid #dddddd;
        height: 30px;
    }
/*------------------productadd.html----------------*/
.admin-content-right-product_add h1 {
    margin-bottom: 20px;
}

.admin-content-right-product_add input, select {
    height: 30px;
    width: 200px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
}

.admin-content-right-product_add textarea {
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
}

.admin-content-right-product_add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}

.admin-content-right-product_add .btn_submit {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    padding: 0px;
}

.admin-content-right-product_add button:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    transition: 0.3s;
}

#cke_editor1 {
    margin-bottom: 12px;
}

/* CSS cho phân trang */
/* Lớp chứa phân trang */
.pager {
    float: right;
    margin-top: 25px;
    font-size: 0.7rem;
}

/* Phần tử phân trang */
.pager a {
    color: #337ab7;
    text-decoration: none;
    border: 1px solid #337ab7;
    padding: 5px 10px;
    margin-right: 5px;
}

/* Phần tử phân trang hiện tại */
.pager .current {
    background-color: #333;
    color: #fff;
}

/* Phần tử phân trang không hoạt động */
.pager .aspNetDisabled {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ccc;
}

.pager a:hover {
    background-color: #337ab7;
    color: #fff;
}

#ContentPlaceHolder1_DataPager1 span {
    color: #ccc;
    border-color: #ccc;
    border: 1px solid #ccc;
    border-width: 1px;
    cursor: not-allowed;
    padding: 5px 10px;
    margin-right: 5px;
}
